/*@media (min-width: 1200px){*/
#main_title{
	text-align: center;
	font-family: 'Timmana', sans-serif;
	font-size: 6vw;
}
#sub_title{
	text-align: center;
	font-family: 'Timmana', sans-serif;
	font-size: 4vw;
}
#main_text{
	font-family: 'Lora', serif;	
	font-size: 3vw;
}
.container_title {
	display: flex;
	justify-content: center;
	align-items: center;
}
.item_title_main {
	width: 60vw;
	margin: auto;
}
.item_title_sub {
	width: 60vw;
	margin: auto;
}
.container_main{
	display: flex;
	justify-content: center;
	align-items: center;
}
.item_main_1{
	margin-top: 1vh;
	margin-left: 2vw;
	margin-right: 2vw;
	margin-bottom: 1vh;
	padding: 10px;
	background-color: red;
}
.item_main_2{
	margin-top: 1vh;
	margin-left: 2vw;
	margin-right: 2vw;
	margin-bottom: 1vh;
	padding: 10px;
	background-color: red;
}

.dropbtn {
	background-color: #4872B9;
    color: white;
    padding: 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #568BBF;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4872B9;
    min-width: 5vw;
    z-index: 1;
    border: solid;
    border-color: #F0F9FF;
    border-width: 1px;
}
.dropdown-content a {
    padding: 12px 16px;
    display: block;
}
.dropdown-content a:hover {
	background-color: #568BBF;
}
.show {
	display:block;
}
#title_div{
	background-color: red;
}
#top_div{
	background-color: black;
/*	width:70%;
	margin-left: 15%;*/
}
#mid_div{
	background-color: blue;
/*	width:70%;
	margin-left: 15%;*/
}
#bottom_div{
	background-color: green;
/*	width:70%;
	margin-left: 15%;*/
}